<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/examPage.css" />
    <!-- <link rel="stylesheet" href="/stylesheets/std_exam.css" /> -->
    <title>Exam Page</title>
  </head>
  <body>
    <!-- Sidebar for Question Navigation -->
    

    <main class="exam-container" id="examContainer">
      <div class="auth-buttons" id="auth-buttons">
        <span id="username" class="username"></span>
        <i
          class="fa-solid fa-arrow-right-from-bracket logout-icon"
          id="logout-btn"
          title="Logout"
        ></i>
      </div>

      <header>
        <h1>Exam: <span id="examTitle"></span></h1>
        <p>Subject: <span id="examSubject"></span></p>
        <!-- <p>Student: <span id="studentName"></span></p> -->
        <p>Description: <span id="examDescription">Loading...</span></p>
        <div id="timer" style="display: none">
          Time Remaining: <span id="timeRemaining">00:00</span>
        </div>
      </header>

      <!-- Exam Questions Section -->
      <section id="examQuestions" style="display: none">
        <!-- Questions will be dynamically inserted here  -->
      </section>

      <!-- Navigation and Timer Controls -->
      <div class="navigation" style="display: none">
        
        <button id="submitBtn" onclick="submitExam()" disabled>
          Submit Exam
        </button>
      </div>

      <!-- Attempt Exam Button -->
      <button
        id="attemptExamButton"
        style="display: none"
        onclick="attemptExam()"
      >
        Attempt Exam
      </button>
    </main>
    

  <script src="/scripts/examPage.js"></script>
  </body>
</html>
