/* Global Styles */
body {
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #333;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
    margin-bottom: 60px;
}

h1, h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
    margin-top: 20px;
    color: #555;
}

p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Subject Selection Button Styling */
.subject-selection {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 30px 0;
}

.subject-selection button {
    padding: 12px 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s;
    flex: 1 1 150px;
    max-width: 220px;
}

.subject-selection button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Question Filters */
.question-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

#searchInput {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    margin-right: 15px;
    max-width: 300px;
}

.filter-options {
    display: flex;
    gap: 15px;
    align-items: center;
}
.option {
    display: block !important; /* Ensure options are displayed */
    visibility: visible !important; /* Ensure options are visible */
    opacity: 1 !important; /* Ensure options are fully opaque */
}
.filter-options select {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Select All Button */
#selectAllButton {
    background-color: #007BFF;
    color: white;
    padding: 12px 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s;
}

#selectAllButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Question Bank Table Styles */
#questions-container {
    margin-top: 30px;
    /* overflow-y: auto; */
    /* max-height: 500px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

td {
    color: #333;
    font-size: 1rem;
}

table tr:hover {
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

/* Table Columns */
td:first-child {
    font-weight: bold;
}

.subject, .year, .type {
    text-align: center;
    color: #007BFF;
}

/* Question Details Styling (if needed for later) */
.question-details {
    margin: 30px 0;
    font-size: 0.9rem;
    color: #666;
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.question-header {
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: #003366;
    margin-bottom: 5px;
}

.question-details div {
    margin-bottom: 8px;
}

/* Button Styling */
#generate-pdf-button {
    background-color: #003366;
    color: white;
    padding: 12px 25px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

#generate-pdf-button:hover {
    background-color: #002244;
    transform: scale(1.05);
}

/* Generated Papers Button Styling */
#viewGeneratedPapersButton {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#pdfName{
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    margin-right: 15px;
    max-width: 300px;
    margin-bottom: 10px;
}

#addQuestionButton {
    background-color: #28a745;
    color: white;
    padding: 12px 25px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#addQuestionButton:hover .fa-plus {
    transform: rotate(360);
}

.fa-plus {
    padding-left: 10px;
}



#viewGeneratedPapersButton:hover {
    background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 20px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    .subject-selection button {
        font-size: 14px;
        padding: 10px 18px;
    }

    #searchInput {
        width: 50%;
    }

    #questions-container {
        height: auto;
    }

    table {
        font-size: 0.9rem;
    }

    .filter-options {
        flex-direction: column;
    }
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modal */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    width: 100%; /* Ensures full width */
    height: 100%; /* Ensures full height */
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 90%; /* Adjust the width of the modal */
    max-width: 500px; /* Set a maximum width */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: modalFadeIn 0.3s ease-in-out;
}

/* Close Button */
.modal-content .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-content .close:hover {
    color: #007BFF;
}

/* Modal Form Styling */
.modal-content h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

.modal-content input,
.modal-content select,
.modal-content textarea {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

.modal-content button {
    padding: 12px;
    font-size: 1rem;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.modal-content button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Modal Animation */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Modal */
@media (max-width: 768px) {
    .modal-content {
        width: 95%; /* Adjust width for smaller screens */
        padding: 20px;
    }

    .modal-content h2 {
        font-size: 1.3rem;
    }
}

.subject-selection button i {
    margin-right: 8px; /* Adds space between icon and text */
  }
  

  #no-questions-message {
    color: red;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }
  
  

  .subject-selection button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
}